@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-image: url("../images/background.svg");
    background-size: 20%;
    min-height: 100vh;
    align-content: center;
    color: white;

    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-size: 90%;
}


.title {
    font-size: 60px;
    font-family: "Merriweather Sans", serif;
    text-underline-offset: 2px;
    text-decoration: underline solid #ffffff00;
    position: relative;
    transition: 
        transform 0.3s ease, 
        text-shadow 0.3s ease, 
        text-underline-offset 0.3s ease, 
        text-decoration 0.3s ease;
}

.title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.title:hover {
    transform: scaleX(1.1) scaleY(.9);
    text-shadow: 6px 6px 0px #000000;
    text-decoration: underline solid #ffffff;
    text-underline-offset: 8px;
}

.title:hover::after {
    opacity: 1;
}


a {
    color: #4fc3f7;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #191b2500;
    color: white;
    text-align: center;
    gap: 20px;

    transition: background-color 0.3s ease;
}


.footer:hover {
    background-color: #191b25;
}


.container {
    margin: 0 auto;
    padding: 2em;
    width: 800px;
    height: 1595px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 25px;
    position: relative;

    transition: transform 0.3s ease;
} 

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.container::after, .container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, green, lime);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 25px;

    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.75);

    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


.navigation {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: #191b25;
    border-radius: 10px;
}

.page {
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    border-radius: 5px;
    padding: 3px;
    border-style: solid;
    border-color: #4b516e00;
    border-width: 1px;
    min-width: 25px;
    max-width: 25px;
    flex-grow: 1;
    text-align: center;
}

.page:hover {
    transform: scaleX(1.1) scaleY(0.9);
    background-color: #2f3346;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    border-color: #4b516e;
}


.music {
    background-color: #191b25;
    padding: 3%;
    border-radius: 25px;
}